In [1]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import display

pd.set_option('display.float_format', lambda x: '%0.2f' % x)

In [115]:
folder= "thesis_mcd/iapmei/dados/INE/"

ginind = pd.read_excel(folder+"Coeficiente de Gini.xls")
estemp = pd.read_excel(folder+"Dissolução de pessoas coletivas e entidades equiparadas.xls")
denpop = pd.read_excel(folder+"Densidade populacional n-km2 por nuts.xls")
uninut = pd.read_excel(folder+"Estabelecimentos de ensino superior NUTS.xls")
empres = pd.read_excel(folder+"Estabelecimentos (N.º) por Localização geográfica.xls")
renmed = pd.read_excel(folder+"Remuneração média mensal.xls")
desemp = pd.read_excel(folder+"Taxa de desemprego NUTS.xls")
pobrez = pd.read_excel(folder+"Taxa de risco de pobreza NUTS.xls")

In [116]:
years = ["2021", "2020", "2019", "2018", "2017"]
ginind.loc[:, "median"] = ginind.loc[:, years].median(axis= 1)

In [117]:
years = ['2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014']
years_2021 = ['2021', '2021.1', '2021.2','2021.3', '2021.4', '2021.5', '2021.6', '2021.7', '2021.8', '2021.9','2021.10', '2021.11']
years_2020 = ['2020', '2020.1', '2020.2', '2020.3', '2020.4','2020.5', '2020.6', '2020.7', '2020.8', '2020.9', '2020.10', '2020.11']
years_2019 = ['2019', '2019.1', '2019.2', '2019.3', '2019.4', '2019.5', '2019.6','2019.7', '2019.8', '2019.9', '2019.10', '2019.11']
years_2018 = ['2018', '2018.1','2018.2', '2018.3', '2018.4', '2018.5', '2018.6', '2018.7', '2018.8','2018.9', '2018.10', '2018.11']
years_2017 = ['2017', '2017.1', '2017.2', '2017.3','2017.4', '2017.5', '2017.6', '2017.7', '2017.8', '2017.9', '2017.10','2017.11']
years_2016 = ['2016', '2016.1', '2016.2', '2016.3', '2016.4', '2016.5','2016.6', '2016.7', '2016.8', '2016.9', '2016.10', '2016.11']
years_2015 = ['2015','2015.1', '2015.2', '2015.3', '2015.4', '2015.5', '2015.6', '2015.7','2015.8', '2015.9', '2015.10', '2015.11']
years_2014 = ['2014', '2014.1', '2014.2','2014.3', '2014.4', '2014.5', '2014.6', '2014.7', '2014.8', '2014.9','2014.10', '2014.11']

estemp.loc[:, "2021"] = estemp.loc[:, years_2021].sum(axis= 1)
estemp.loc[:, "2020"] = estemp.loc[:, years_2020].sum(axis= 1)
estemp.loc[:, "2019"] = estemp.loc[:, years_2019].sum(axis= 1)
estemp.loc[:, "2018"] = estemp.loc[:, years_2018].sum(axis= 1)
estemp.loc[:, "2017"] = estemp.loc[:, years_2017].sum(axis= 1)
estemp.loc[:, "2016"] = estemp.loc[:, years_2016].sum(axis= 1)
estemp.loc[:, "2015"] = estemp.loc[:, years_2015].sum(axis= 1)
estemp.loc[:, "2014"] = estemp.loc[:, years_2014].sum(axis= 1)

estemp.loc[:, "median"] = estemp.loc[:, years].median(axis= 1)

In [118]:
estemp.loc[:, years_2021].sum()

2021       22037
2021.1      1668
2021.2      1459
2021.3      1125
2021.4       803
2021.5       938
2021.6       850
2021.7      1831
2021.8      1837
2021.9      1024
2021.10     3249
2021.11     5211
dtype: int64

In [119]:
denpop = denpop.groupby("Local de residência (NUTS - 2013) (1)").sum()
years = ["2021", "2020", "2019", "2018", "2017", "2016", "2015", "2014"]
denpop.loc[:, "median"] = denpop.loc[:, years].median(axis= 1)

C:\Users\RHINES~1\AppData\Local\Temp/ipykernel_17536/2099079084.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  denpop = denpop.groupby("Local de residência (NUTS - 2013) (1)").sum()

In [120]:
denpop

,2021,2020,2019,2018,2017,2016,2015,2014,median
Local de residência (NUTS - 2013) (1),,,,,,,,,
Alentejo,88.60,87.40,88.10,88.10,88.80,89.40,90.20,91.30,88.70
Algarve,402.60,378.60,379.30,379.40,379.80,381.10,381.00,380.20,380.00
Centro,429.90,427.10,423.30,421.90,424.10,425.70,427.40,427.80,426.40
Norte,1051.00,1039.50,1041.20,1039.30,1039.40,1041.00,1046.00,1050.60,1041.10
Região Autónoma da Madeira,947.00,958.20,957.90,956.60,958.10,959.90,966.00,974.60,958.15
Região Autónoma dos Açores,625.50,633.90,635.60,635.50,638.80,643.40,644.40,646.30,637.20
Área Metropolitana de Lisboa,1709.60,1701.70,1698.80,1689.40,1682.40,1675.70,1670.90,1669.20,1685.90

In [121]:
years = ["2020 / 2021", "2019 / 2020", "2018 / 2019", "2017 / 2018", "2016 / 2017", "2015 / 2016", "2014 / 2015", "2013 / 2014"]
uninut.loc[:, "median"] = uninut.loc[:, years].median(axis= 1)

In [122]:
years = ["2021", "2020", "2019", "2018", "2017", "2016", "2015", "2014"]
empres.loc[:, "median"] = empres.loc[:, years].median(axis= 1)

In [123]:
empres

,Localização Geográfica,2021,2020,2019,2018,2017,2016,2015,2014,median
0,Norte,473303,463385,463408,448224,434419,421748,412334,402177,441321.50
1,Centro,285272,277798,280875,276313,273179,266037,261224,255449,274746.00
2,Área Metropolitana de Lisboa,407249,390646,399239,383342,370057,351955,338508,327704,376699.50
3,Alentejo,90906,88982,90364,90314,88055,85731,83575,81990,88518.50
4,Algarve,81306,76911,81258,77932,74428,69877,66669,61432,75669.50
5,Região Autónoma dos Açores,30882,29976,30618,30218,28867,28014,27008,26435,29421.50
6,Região Autónoma da Madeira,31744,30659,30626,29779,28048,26705,25838,25068,28913.50

In [124]:
years = ["2021", "2020", "2019", "2018", "2017", "2016", "2015", "2014"]
renmed.loc[:, "median"] = renmed.loc[:, years].median(axis= 1)
renmed

,Localização geográfica (NUTS - 2013) (1),2021,2020,2019,2018,2017,2016,2015,2014,median
0,Norte,1006.75,965.76,924.50,887.44,854.76,834.01,NaN,812.01,887.44
1,Centro,953.57,913.29,883.21,851.95,825.13,806.27,NaN,788.20,851.95
2,Área Metropolitana de Lisboa,1301.10,1257.56,1221.83,1187.08,1166.67,1150.72,NaN,1139.73,1187.08
3,Alentejo,937.26,903.07,868.90,849.86,828.18,812.82,NaN,804.32,849.86
4,Algarve,928.44,897.18,861.15,836.09,810.99,793.76,NaN,780.52,836.09
5,Região Autónoma dos Açores,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Região Autónoma da Madeira,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
years = ["2020", "2019", "2018", "2017", "2016", "2015", "2014"]
desemp.loc[:, "median"] = desemp.loc[:, years].median(axis= 1)

In [126]:
years = ["2021", "2020", "2019", "2018", "2017"]
pobrez.loc[:, "median"] = pobrez.loc[:, years].median(axis= 1)

In [127]:
ginind.to_excel("ginind.xlsx")
estemp.to_excel("estemp.xlsx")
denpop.to_excel("denpop.xlsx")
uninut.to_excel("uninut.xlsx")
empres.to_excel("empres.xlsx")
renmed.to_excel("renmed.xlsx")
desemp.to_excel("desemp.xlsx")
pobrez.to_excel("pobrez.xlsx")