In [1]:
#import modin.pandas as pd
import pandas as pd
import string as s
from os import listdir
from os.path import isfile, join
from tqdm import tqdm
import csv

In [2]:
#Takes a Series, groups by selected column and returns new List with most common values along with counts
#data: original dataset
#col: column to groupby
#threshold: minimum limit for value - count pair to be not a part of "others"
def group_others(data, col, threshold = 10):
    data = data.groupby([col]).size()
    others = 0
    data_w_others = []
    for key, val in data.iteritems():
        if (val < threshold):
            others += val
        else:
            data_w_others.append([key, val])
    if (threshold != 0):
        data_w_others.append(["Others", others])
    return data_w_others

In [3]:
#Dados para a categorização
file = "Ano_Livro_Tipo.csv"
key_file = pd.read_csv(file, header=None, encoding="ansi", sep=";")
header = key_file.iloc[0] #grab the first row for the header
key_file = key_file[1:] #take the data less the header row
key_file.columns = header
key_file = group_others(key_file, "Source title", 0)
key_file = pd.DataFrame(key_file, columns = ["Source", "Count"])

In [4]:
#Fonte de dados - subject area
file = "fontes//Subject Areas.csv"
subjects = pd.read_csv(file, header=None, encoding="ansi", sep=";")
header = subjects.iloc[0]
subjects = subjects[1:] 
subjects.columns = header
subjects["Description"] = subjects["Description"].str.strip()

In [21]:
#Fonte de dados - supergroup of given subject area
file = "fontes//Supergroup Subject Areas.csv"
supergroup = pd.read_csv(file, header=None, encoding="ansi", sep=";")
header = supergroup.iloc[0]
supergroup = supergroup[1:] 
supergroup.columns = header
supergroup["Supergroup"] = supergroup["Supergroup"].str.strip()

In [5]:
#Fonte de dados - conferencias
file = "fontes//Conferencias.csv"
conf = pd.read_csv(file, header=None, encoding="ansi", sep=";")
header = conf.iloc[0]
conf = conf[1:] 
conf.columns = header

C:\Users\Tiago Martins\AppData\Local\Temp\ipykernel_288\2751462232.py:3: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  conf = pd.read_csv(file, header=None, encoding="ansi", sep=";")

In [6]:
conf

,Sourcerecord ID,Source Title,Print-ISSN,E-ISSN,Titles discontinued by Scopus due to quality issues,Coverage,2019 SJR,2019 SNIP,2020 SJR,2020 SNIP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101076,2000 IEEE Wireless Communications and Networki...,NaN,NaN,NaN,"2002, 2000",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,78851,4th International Conference COPPER 99-COBRE 99,NaN,NaN,NaN,"2002, 1999",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000147108,8th Korea-Russia International Symposium on Sc...,NaN,NaN,NaN,2004-2005,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50013,AACE International Transactions,15287106,NaN,NaN,"2002-2013, 1996-1999, 1994, 1991-1992, 1989, 1...",0.125,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,74842,ACM International Conference on Computer Graph...,NaN,NaN,NaN,"2006-2007, 2003-2004, 2001",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Fonte de dados - subject area
file = "fontes//Revistas e jornais completo com subject areas.csv"
journals = pd.read_csv(file, header=None, encoding="ansi", sep=";")
header = journals.iloc[0] #grab the first row for the header
journals = journals[1:] #take the data less the header row
journals.columns = header

C:\Users\Tiago Martins\AppData\Local\Temp\ipykernel_288\2695651056.py:3: DtypeWarning: Columns (0,8) have mixed types. Specify dtype option on import or set low_memory=False.
  journals = pd.read_csv(file, header=None, encoding="ansi", sep=";")

In [10]:
journals.iloc[:,-31:]

,Top level: Life Sciences,Top level: Social Sciences,Top level: Physical Sciences,Top level: Health Sciences,1000 General,1100 Agricultural and Biological Sciences,1200 Arts and Humanities,"1300 Biochemistry, Genetics and Molecular Biology","1400 Business, Management and Accounting",1500 Chemical Engineering,...,2700 Medicine,2800 Neuroscience,2900 Nursing,"3000 Pharmacology, Toxicology and Pharmaceutics",3100 Physics and Astronomy,3200 Psychology,3300 Social Sciences,3400 Veterinary,3500 Dentistry,3600 Health Professions
1,NaN,Social Sciences,NaN,NaN,NaN,NaN,Arts and Humanities,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Physical Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Physics and Astronomy,NaN,NaN,NaN,NaN,NaN
3,Life Sciences,NaN,Physical Sciences,NaN,NaN,Agricultural and Biological Sciences,NaN,"Biochemistry, Genetics and Molecular Biology",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Physical Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Physical Sciences,Health Sciences,NaN,NaN,NaN,NaN,NaN,NaN,...,Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43009,NaN,NaN,NaN,Health Sciences,NaN,NaN,NaN,NaN,NaN,NaN,...,Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43010,NaN,Social Sciences,NaN,NaN,NaN,NaN,Arts and Humanities,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Social Sciences,NaN,NaN,NaN
43011,Life Sciences,NaN,NaN,NaN,NaN,NaN,NaN,"Biochemistry, Genetics and Molecular Biology",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43012,Life Sciences,NaN,NaN,Health Sciences,NaN,NaN,NaN,"Biochemistry, Genetics and Molecular Biology",NaN,NaN,...,Medicine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43013,Life Sciences,NaN,Physical Sciences,NaN,NaN,Agricultural and Biological Sciences,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
domain_dict = {}
supergroup_dict = {}
for value in key_file.values:
    title = value[0]
    count = value[1]
    for row in journals.values:
        source = row[1]
        if (title == source):
            for matching in row[-31:]:
                for domains in subjects.values:
                    if (matching == domains[1]):
                        if domain_dict.get(domains[1], None) != None:
                            domain_dict[domains[1]] += 1 
                        else:
                            domain_dict[domains[1]] = 1
                
                for domains in supergroup.values:
                    if (matching == domains[0]):
                        if supergroup_dict.get(domains[0], None) != None:
                            supergroup_dict[domains[0]] += 1 
                        else:
                            supergroup_dict[domains[0]] = 1

    #CONFERENCIAS, VER SE UTILIZA-SE OU NAO        
    #for row in conf.values:
    #    source = row[2]
    #    if (title == source):
    #        for matching in row[-27:]:
    #            for domains in conf.values:
    #                if (matching == domains[2]):
    #                    if domain_dict.get(domains[2], None) != None:
    #                        
    #                        domain_dict[domains[2]] += 1 
    #                    else:
    #                        domain_dict[domains[2]] = 0
    #                
    #print(journals.where("Source Title" == title))
    #print(value["Source"], " - ", value["Count"])

In [15]:
#Takes dict, name of file and column names as arguments. 
#Saves dict onto csv file
def save_dict(data, name, cols):
    
    domain = []
    for key, value in data.items():
        domain.append([key, value])

    domain = pd.DataFrame(domain, columns = cols)

    domain.to_csv(name, index=False, sep=";", encoding="ansi")

In [24]:
save_dict(domain_dict, "subject area count.csv", ["Subject area", "Count"])
save_dict(supergroup_dict, "supergroup count.csv", ["Supergroup", "Count"])

In [63]:
src_title = group_others(key_file, "Source title")
src_title = pd.DataFrame(src_title, columns = ["Source", "Count"])

In [90]:
print(src_title.sort_values(by=["Count"], ascending=False))

                                               Source  Count
24                                             Others   1154
17  Lecture Notes in Computer Science (including s...    247
3                           CEUR Workshop Proceedings    137
9                                         IEEE Access     47
0      ACM International Conference Proceeding Series     38
4   Communications in Computer and Information Sci...     37
1                      Applied Sciences (Switzerland)     36
10     IEEE International Conference on Fuzzy Systems     31
14  International Conference on Intelligent User I...     28
6   Conference on Human Factors in Computing Syste...     25
2                             Artificial Intelligence     21
22                                            Sensors     20
12  IJCAI International Joint Conference on Artifi...     16
18              Lecture Notes in Networks and Systems     16
23              Studies in Computational Intelligence     14
13                                 Information Fusion     14
20  Proceedings of the International Joint Confere...     14
21  Proceedings of the International Joint Confere...     13
5                   Computers in Biology and Medicine     12
16                            Knowledge-Based Systems     11
11  IEEE Transactions on Visualization and Compute...     11
8   Frontiers in Artificial Intelligence and Appli...     11
19  Proceedings - 2022 IEEE/CVF Winter Conference ...     10
7                           Electronics (Switzerland)     10
15                        KI - Kunstliche Intelligenz     10

In [92]:
#Guardar os vários documentos vistos até agora para posterior análise em Excel
save_file = "year.csv"
year.to_csv(save_file, index=False, sep=";", encoding="ansi")

save_file = "contagem de dominio.csv"
domain.to_csv(save_file, index=False, sep=";", encoding="ansi")

save_file = "doc.csv"
doc_type.to_csv(save_file, index=False, sep=";", encoding="ansi")

In [ ]:
pair = []
cols = ["Keyword", "Count"]
for key, value in keyword_count.items():
    key_count = [key, value]
    pair.append(key_count)

In [ ]:
pair_final = pd.DataFrame(pair, columns=cols)
save_file = "Keywords_final.csv"
pair_final.to_csv(save_file, index=False, sep=";", encoding="ansi")